.background_contato {
    height: 100vh;
    background-size: cover;
    background-color: #1f1f1f;
}

.container_contato {
    display: grid;
    place-items: center;
    height: 55%;
    width: 100%;
}

.wrapper {
    display: inline-flex;
}

.wrapper .icon {
    margin: 0 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.wrapper .icon svg{
    position: relative;
    height: 120px;
    width: 120px;
    display: block;
    border: solid 2px black;
    border-radius: 8px;
    background: #fff;
    box-shadow: -5px 5px 1px #A842FF,
    -7px 7px 1px black,
    -7px 4px 1px black,
    -4px 7px 1px black;
    z-index: 2;
}

.wrapper .icon .texto_icone {
    position: absolute;
    top: 145px;
    background: #fff;
    font-family: monospace;
    font-weight: bolder;
    font-size: 22px;
    padding: 10px 18px;
    border-radius: 25px;
    border: solid 2px black;
    opacity: 0;
    pointer-events: none;
}

.wrapper .email:hover .texto_icone {
    transition: 0.7s;
    opacity: 1;
    pointer-events: auto;
    width: 273px;
    text-align: center;
}

.wrapper .zap:hover .texto_icone {
    transition: 0.7s;
    opacity: 1;
    pointer-events: auto;
    width: 182px;
    text-align: center;
}

.wrapper .icon:hover .texto_icone {
    transition: 0.7s;
    opacity: 1;
    pointer-events: auto;
}

.wrapper .icon .texto_icone:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: 38px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: -2px -2px black;
}

.email:hover {
    transition: 0.5s;
    color: #EA4335;
}

.zap:hover {
    transition: 0.5s;
    color: 	#22c55e;
}

.github_link {
    color: black;
}

.github_link:hover {
    transition: 0.5s;
    color: 	#882ed6;
}

.linkedin_link{
    color: black;
}

.linkedin_link:hover {
    transition: 0.5s;
    color: #0077B5;
}

.email h2 {
    color: #EA4335;
}

.zap h2 {
    color: #22c55e;
}

.linkedin h2 {
    color: #0077B5;
}

.github h2 {
    color: #882ed6;
}

.ondas .wave {
    filter: grayscale(100%) brightness(7%) sepia(60%) hue-rotate(-100deg) saturate(500%) contrast(1);
    color: #A842FF;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    background: url(../../Assets/wave.png);
    background-size: 1000px 100px;
    animation: animate 17s linear infinite;
    z-index: 1001;
}

.ondas .wave.wave1 {
    filter: grayscale(100%) brightness(25%) sepia(60%) hue-rotate(-100deg) saturate(500%) contrast(1);
    animation: animate 5s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: -5s;
    bottom: 10px;
}

.ondas .wave.wave2 {
    animation: animate2 5s linear infinite;
    z-index: 999;
    opacity: 0.6;
    animation-delay: 0s;
    bottom: 0;
}

.ondas .wave.wave3 {
    filter: grayscale(100%) brightness(25%) sepia(60%) hue-rotate(-100deg) saturate(500%) contrast(1);
    animation: animate 10s linear infinite;
    z-index: 998;
    opacity: 0.4;
    animation-delay: -2s;
    bottom: 15;
}

.ondas .wave.wave3 {    
    animation: animate2 15s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate
{
    0%
    {
        background-position: 0;
    }
    100%
    {
        background-position: 1000px;
    }
}

@keyframes animate2
{
    0%
    {
        background-position: 0;
    }
    100%
    {
        background-position: -1000px;
    }
}

/*responsivodade*/
@media (max-width: 1218px) {
    
    .container_contato {
        height: 60%;
        margin-right: 20em;
    }

    .wrapper .icon svg{
        height: 75px;
        width: 75px;
    }
}

@media (max-width: 1024px) {
    .container_contato {
        margin-left: -5 0px;
    }

    .wrapper .icon svg{
        height: 85px;
        width: 85px;
        margin: 0 -50px;
    }
}

@media (max-width: 912px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .container_contato {
        height: 80%;
    }

    .wrapper .icon svg{
        height: 130px;
        width: 130px;
        margin: 45px 0;
    }
}

@media (max-width: 768px) {
    .wrapper {
        margin-top: -30px;
        flex-direction: column;
        align-items: center;
    }

    .wrapper .icon {
        margin: 10px 0;
    }

    .wrapper .icon svg {
        margin: 15px 0;
        height: 100px;
        width: 100px;
        display: inline-flex;
    }

    .wrapper .icon .texto_icone {
        font-size: 16px;
    }
}

@media (max-width: 540px) {
    .wrapper {
        margin-top: -70px;
        flex-direction: column;
        align-items: center;
    }

    .wrapper .icon {
        margin: 10px 0;
    }

    .wrapper .icon svg {
        margin: 15px 0;
        height: 70px;
        width: 70px;
        display: inline-flex;
    }

    .wrapper .icon .texto_icone {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .container_contato {
        height: 65%;
    }
    .wrapper .icon svg {
        height: 80px;
        width: 80px;
    }
    .wrapper .icon .texto_icone {
        font-size: 14px;
    }
}

@media (max-width: 414px) {
    .container_contato {
        height: 80%;
    }
    .wrapper .icon svg {
        height: 100px;
        width: 100px;
    }
    .wrapper .icon .texto_icone {
        font-size: 14px;
    }
}

@media (max-width: 412px) {
    .wrapper {
        margin-top: -50px;
    }

    .wrapper .icon svg {
        height: 90px;
        width: 90px;
    }
}

@media (max-width: 375px) {
    .wrapper {
        margin-top: -85px;
    }

    .wrapper .icon svg {
        height: 60px;
        width: 60px;
    }
}

@media (max-width: 360px) {
    .wrapper {
        margin-top: -60px;
    }

    .wrapper .icon svg {
        height: 70px;
        width: 70px;
    }
}


