* {
    margin: 0;
    padding: 0;
}

.background_sobre {
    position: relative;
    height: 100vh;
    background-color: #272727;
}

.texto_home {
    position: absolute;
    top: 27%;
    left: 10%;
    display: inline-block;
    color: #A842FF;
    text-shadow: -4px 4px 1px black;
    font-family: monospace;
}

.texto1 {
    font-size: 5em;
    letter-spacing: 5px;
    border-right: 2px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(10),
        cursor .4s step-end alternate;
}

.texto2 {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 3em;
    letter-spacing: 5px;
    border-right: 2px solid;
    font-family: monospace;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(10),
        cursor .4s alternate;
    animation-delay: 3s;
}

@keyframes cursor {
    50% { border-color: transparent; }
}

@keyframes typing {
    from { width: 0; }
}

img {
    position: absolute;
    left: 68%;
    top: 30%;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
    box-shadow: 6px 7px 8px 2px rgba(36, 36, 36, 0.582);
    width: 280px;
    height: 280px;
    display: block;
}