* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.background_home {
    height: 100vh;
    background-color: #1f1f1f;
}

.texto_home {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #A842FF;
    text-shadow: -4px 4px 1px black;
    font-family: monospace;
    padding: 30px;
    padding-top: 10px;
    background-color: #141414d5;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: -6px 6px 6px black,
    inset 0 0 15px -3px #A842FF;
    margin-right: 4em;
}

.texto1 {
    font-size: 5em;
    letter-spacing: 3px;
    width: 100%;
    -webkit-text-stroke: 2px black;
}

.texto2 {
    margin-top: 10px;
    font-size: 3em;
    letter-spacing: 4px;
    font-weight: 900;
    width: 100%;
    -webkit-text-stroke: 0.75px black;
}

.foto_home img {
    width: 300px;
    height: 300px;
    border-radius: 20%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.822);
    border: solid 5px black;
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 400px) and (min-width: 260px) {
    .container_home {
        flex-direction: column;
        height: 90vh;
    }

    .background_home {
        height: 102vh;
    }

    .texto_home {
        height: 30%;
        padding: 20px;
        margin: 0;
        width: 90%;
    }

    .texto_home h1 {
        margin-top: -10px;
        font-size: 3.25em;
    }

    .texto_home h2 {
        font-size: 32px;
    }

    .foto_home {
        width: 280px;
        margin-top: 2em;
    }
}

@media only screen and (max-width: 600px) and (min-width: 402px) {
    .container_home {
        flex-direction: column;
        height: 75vh;
    }

    .background_home {
        height: 102vh;
    }

    .texto_home {
        height: 28%;
        padding: 15px;
        margin: 0;
        width: 90%;
    }

    .texto_home h1 {
        margin-top: -10px;
        font-size: 3.5em;
    }

    .texto_home h2 {
        font-size: 34px;
    }

    .foto_home {
        width: 400px;
        margin-top: 2em;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 760px) and (min-height: 900px) {
    .container_home {
        flex-direction: column;
    }

    .texto_home {
        margin: 0;
        width: 700px;
        height: 22%;
    }

    .texto_home h1 {
        font-size: 6em;
    }

    .texto_home h2 {
        font-size: 4em;
    }

    .foto_home img {
        margin-top: 5em;
        width: 500px;
    }
}

@media only screen and (max-width: 541px) and (min-width: 539px) {
    .texto_home {
        width: 80%;
    }
}