.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    height: 80px;
    width: 100%;
}
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-links .routes {
    color: #fff;
    text-decoration: none;
    margin: 20px 15px;
    font-size: 23px;
  }
  
  .navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  .active {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #333;
    top: 60px;
    left: 0;
    right: 0;
  }
  
  .change:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .change:nth-child(2) {
    opacity: 0;
  }
  
  .change:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  @media (max-width: 500px) {
    .navbar-links {
      display: none;
    }
  
    .navbar-toggle {
      display: flex;
    }
  
    .active {
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: #333;
      top: 60px;
      left: 0;
      right: 0;
    }
  }
  