.navbar {
  background-color: #0c0c0cc2;
  color: #fff;
  padding: 10px 0;
  height: 80px;
  width: 100%;
  border-bottom: solid 4px rgb(0, 0, 0);
  text-shadow: -4px 4px 1px black;
  box-shadow: 0px -5px 10px -8px #A842FF inset;
  font-family: monospace;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.navbar-links .routes {
  position: relative;
  color: #A842FF;
  text-decoration: none;
  margin: 20px 15px;
  font-size: 23px;
  padding: 0 10px;
}

.navbar-links .routes:after {
  content: "";
  position: absolute;
  background-color: #8f2fe2;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
}

.navbar-links .routes:hover:after {
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  width: 100%;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  left: 15px;
  top: 10px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #A842FF;
  margin: 4px 0;
  transition: 0.4s;
}

.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #0c0c0cf1;
  top: 60px;
  left: 0;
  right: 0;
}

.change:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change:nth-child(2) {
  opacity: 0;
}

.change:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media only screen and (max-width: 1000px) and (min-width: 720px) {
  .navbar {
    height: 120px;
  }

  .navbar-links .routes {
    font-size: 34px;
    margin: 0 20px;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 1024px) {
  .navbar {
    height: 120px;
  }

  .navbar-links .routes {
    font-size: 36px;
    margin: 0 25px;
  }
}

@media (max-width: 500px) {
  .navbar-links {
    display: none;
  }

  .navbar-toggle {
    display: flex;
  }

  .active {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #0c0c0c;
    width: 100%;
    top: 100px;
    left: 0;
    right: 0;
  }
}