.background_sobre {
    background-color: #1f1f1f;
    height: auto;
    padding: 30px 0;
    position: relative;
    margin-top: -30px;
}

.sobre_caixa {
    font-family: monospace;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3em 1em;
}

.sobre_caixa img {
    border-radius: 50%;
    max-width: 100%;
    border: 4px solid black;
    box-shadow: 0 0 10px 5px #080808;
    margin: 1.5em 0 4.5em;
}

.sobre_caixa h2 {
    font-size: 4rem;
    color: #A842FF;
    text-shadow: -4px 3px 1px black;
    -webkit-text-stroke: 2px black;
}

.sobre_caixa h3 {
    max-width: 80%;
    padding: 2.5rem;
    line-height: 1.3em;
    font-size: 2em;
    border: solid 1px rgb(0, 0, 0);
    text-align: justify;
    color: #b4b3b3;
    text-shadow: -3px 3px 1px #000000;
    box-shadow: inset 0 0 15px -6px #A842FF,
    0 0 10px black;
    background: linear-gradient(135deg, #131313 40%, #111010 90%);
    border-radius: 15px;
}

.icons {
    margin-top: 2.5em;
    min-width: 80%;
    border: solid 1.5px rgb(0, 0, 0);
    padding: 2em;
    line-height: 1.3em;
    background: linear-gradient(135deg, #131313 40%, #111010 90%);
    border-radius: 15px;    
    box-shadow: inset 0 0 15px -6px #A842FF,
    0 0 10px black;
}

.icons svg{
    margin: 0.2rem;
    background-color: rgb(233, 228, 228);
    border: solid 3px rgb(0, 0, 0);
    box-shadow: -3px 3px 1px black;
    border-radius: 10px;
    height: 65px;
    width: 65px;    
    padding: 3px;
}

.icons svg:hover {
    transition: 0.2s;
    background-color: #492469;
}

.icons .html {
    padding: 5px;
    color: #e34c26;
}

.icons .css {
    padding: 5px;
    color: #264de4;
}

.icons .js {
    padding: 4px;
    margin-left: 0.65rem;
    color: #d4b801;
}

.icons .react {
    padding: 5px;
    color: #1f86a0;
}

.redux {
    color: #764abc;
}

.angular {
    color: rgb(219, 44, 44);
}

.icons .node {
    padding: 6px;
    color: #3c873a;
}

.firebase {
    color: #FFA611;
}

.sql {
    color: #00758F;
}

.icons .dados {
    padding: 8px;
    color: rgb(82, 82, 78);
}

.icons .mongo {
    margin-left: 0.65rem;
    color: #32852b;
}

.icons .php {
    margin-left: 0.65rem;
    padding: 5px;
    color: rgb(119, 123, 179);
}

@media only screen and (max-width: 1000px) and (min-width: 260px) {
    .sobre_caixa img {
        width: 250px;
    }

    .sobre_caixa h2 {
        font-size: 3.25rem;
    }

    .sobre_caixa h3 {
        max-width: 90%;
        font-size: 22px;
    }

    .icons {
        max-width: 90%;
    }
}