.background_portfolio {
    height: 125vh;
    background-color: #1f1f1f;
    background-size: cover;
    position: relative;
}

.container_portfolio {
    display: flex;
    justify-content: center;
    margin: 3em 3em;
}

.card {
    width: 20em;
    height: 17em;
    position: relative;
    margin: 0 1em;
    background-image: url('../../Assets/Saint.png');
    background-size: cover;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 18px;
    box-shadow: inset 0 0 0 1000px rgba(255, 123, 0, 0.664),
    0px 0px 10px 5px #000000;
}

.card h1 {
    font-size: 35px;
    color: #fff;
}

.card .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 123, 0, 0.8);
    opacity: 0;
    border-radius: 18px;
}

.card:hover .overlay {
    transition: 0.5s ease;
    opacity: 1;
}

.card .btn {
    padding: 0.6em 1.3em;
    text-decoration: none;
    color: #fff;
    border: solid 2px #fff;
    letter-spacing: 1px;
    border-radius: 8px;
    margin-top: 10px;
    font-weight: bold;
    box-shadow: -1px 1px 2px 1px black,
    0px 0px 2px 1px black;
}

.card .btn:hover {
    background: rgba(243, 197, 158, 0.651);
    color: black;
    border: solid 2px black;
}

.card .btn, .card h1 {
    transform: translateY(20px);
}

.card:hover .btn, .card:hover h1 {
    transition: 0.5s ease;
    transform: translateY(0);
}